<?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="603.5" height="706.728" xmlns:xlink="http://www.w3.org/1999/xlink"
    xlink="http://www.w3.org/1999/xlink" style="position:relative;" viewBox="196.333 6.605 603.5 706.728">
        <defs/>
        <g>
            <g width="578.167" height="593.833" transform="scale(1,1) translate(212.5,110.333)">
                <g transform="scale(1,1) translate(0,0)" fill="none" stroke="#000000" stroke-opacity="1">
                    <path d="M0,593.833 L0,441.673 L111.514,441.506 L112.819,58.333 L82.667,58.333 L82.667,0 L355.5,0 L355.5,327.167 L578.167,327.167 L578.167,593.833 L0,593.833 z"
                    stroke-width="8.333" stroke-dasharray="none" />
                </g>
            </g>
            <g width="214.001" height="28.125" transform="scale(1,1) translate(577.5,18.667)">
                <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="214.001" height="28.125" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="214.001" height="28.125" />
                </g>
                <g width="214.00144958496094" height="28.124998092651367" transform="scale(1,1) translate(0,0)">
                    <text width="214.00144958496094" height="28.124998092651367" transform="scale(1,1) translate(0,0)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="25" font-weight="normal" font-style="normal"
                        fill="#000000" x="0" text-anchor="start" y="22.917" textLength="214.00144958496094" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">HOTEL PLAN TWO</tspan>
                    </text>
                </g>
            </g>
            <g width="29" height="49.5" transform="scale(1,1) translate(741.833,107)">
                <g transform="scale(1.0000001315413023,0.9933111128263783) translate(0,0)" width="29" height="49.5">
                    <g>
                        <g width="29" height="29.167" transform="scale(1,1) translate(-0.001,0)">
                            <g width="29" height="29.167" transform="scale(1,1) translate(0,0)" stroke="#000000" stroke-width="0"
                            stroke-dasharray="none" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <ellipse rx="14.5" ry="14.5835" cx="14.5" cy="14.5835" />
                            </g>
                        </g>
                        <g width="0" height="17.167" transform="scale(1,1) translate(14.499,12)">
                            <g transform="scale(1,1) translate(0,0)" fill="#FFFFFF" stroke="#FFFFFF" stroke-opacity="1">
                                <path d="M0,0 L0,17.167" fill="none" stroke-width="1" stroke-dasharray="none" />
                                <g>
                                    <g stroke-dasharray="none">
                                        <path d="M-1,-1L1,-1L1,1L-1,1z" stroke-width="0" fill="none" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g width="10.833" height="16" transform="scale(1,1) translate(8.999,0.667)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#FFFFFF" fill="#FFFFFF" fill-opacity="1" stroke-opacity="1">
                                <path d="M5.5,0 L10.833,16 L0,16 z" stroke-width="1" stroke-dasharray="none" />
                            </g>
                        </g>
                        <g width="13.037" height="20.833" transform="scale(1,1) translate(7.398,29)">
                            <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="13.037" height="20.833"
                            transform="scale(1,1) translate(0,0)" fill="none" stroke-opacity="1">
                                <rect width="13.037" height="20.833" />
                            </g>
                            <g width="13.03663158416748" height="20.833332061767578" transform="scale(1,1) translate(0,0)">
                                <text width="13.03663158416748" height="20.833332061767578" transform="scale(1,1) translate(0,0)"
                                xml:space="preserve">
                                    <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="18.055555555555557"
                                    font-weight="normal" font-style="normal" fill="#000000" x="0" text-anchor="start" y="16.667"
                                    textLength="13.03663158416748" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">N</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g width="127" height="148.167" transform="scale(1,1) translate(216.167,554.333)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="127" height="148.167" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="127" height="148.167" />
                </g>
                <g width="123" height="144.16666666666666" transform="scale(1,1) translate(2,2)">
                    <text width="123" height="16.66666603088379" transform="scale(1,1) translate(0,63.750000317891434)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="37.442" text-anchor="start" y="13.542" textLength="48.115760803222656"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Suite A</tspan>
                    </text>
                </g>
            </g>
            <g width="98.5" height="127.5" transform="scale(1,1) translate(326.5,425)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="98.5" height="127.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="98.5" height="127.5" />
                </g>
                <g width="94.5" height="123.5" transform="scale(1,1) translate(2,2)">
                    <text width="94.5" height="16.66666603088379" transform="scale(1,1) translate(0,53.416666984558105)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="22.771" text-anchor="start" y="13.542" textLength="48.95833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Suite B</tspan>
                    </text>
                </g>
            </g>
            <g width="98.5" height="127.5" transform="scale(1,1) translate(326.333,296.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="98.5" height="127.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="98.5" height="127.5" />
                </g>
                <g width="94.5" height="123.5" transform="scale(1,1) translate(2,2)">
                    <text width="94.5" height="16.66666603088379" transform="scale(1,1) translate(0,53.416666984558105)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="22.771" text-anchor="start" y="13.542" textLength="48.95833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Suite B</tspan>
                    </text>
                </g>
            </g>
            <g width="98.5" height="127.5" transform="scale(1,1) translate(326.333,167.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="98.5" height="127.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="98.5" height="127.5" />
                </g>
                <g width="94.5" height="123.5" transform="scale(1,1) translate(2,2)">
                    <text width="94.5" height="16.66666603088379" transform="scale(1,1) translate(0,53.416666984558105)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="22.771" text-anchor="start" y="13.542" textLength="48.95833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Suite B</tspan>
                    </text>
                </g>
            </g>
            <g width="108.667" height="54.833" transform="scale(1,1) translate(454.667,114.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="108.667" height="54.833" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="108.667" height="54.833" />
                </g>
                <g width="104.66666666666666" height="50.83333333333333" transform="scale(1,1) translate(2,2)">
                    <text width="104.66666666666666" height="16.66666603088379" transform="scale(1,1) translate(0,17.08333365122477)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="30.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit C</tspan>
                    </text>
                </g>
            </g>
            <g width="108.667" height="54.833" transform="scale(1,1) translate(454.667,170.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="108.667" height="54.833" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="108.667" height="54.833" />
                </g>
                <g width="104.66666666666666" height="50.83333333333333" transform="scale(1,1) translate(2,2)">
                    <text width="104.66666666666666" height="16.66666603088379" transform="scale(1,1) translate(0,17.08333365122477)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="30.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit C</tspan>
                    </text>
                </g>
            </g>
            <g width="108.667" height="54.833" transform="scale(1,1) translate(454.667,226.5)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="108.667" height="54.833" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="108.667" height="54.833" />
                </g>
                <g width="104.66666666666666" height="50.83333333333333" transform="scale(1,1) translate(2,2)">
                    <text width="104.66666666666666" height="16.66666603088379" transform="scale(1,1) translate(0,17.08333365122477)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="30.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit C</tspan>
                    </text>
                </g>
            </g>
            <g width="108.667" height="54.833" transform="scale(1,1) translate(454.667,282.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="108.667" height="54.833" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="108.667" height="54.833" />
                </g>
                <g width="104.66666666666666" height="50.83333333333333" transform="scale(1,1) translate(2,2)">
                    <text width="104.66666666666666" height="16.66666603088379" transform="scale(1,1) translate(0,17.08333365122477)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="30.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit C</tspan>
                    </text>
                </g>
            </g>
            <g width="108.667" height="54.833" transform="scale(1,1) translate(454.667,339.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="108.667" height="54.833" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="108.667" height="54.833" />
                </g>
                <g width="104.66666666666666" height="50.83333333333333" transform="scale(1,1) translate(2,2)">
                    <text width="104.66666666666666" height="16.66666603088379" transform="scale(1,1) translate(0,17.08333365122477)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="30.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit C</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(562.667,441.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(619,441.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(674.333,441.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(730.667,441.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(674.333,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(619,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(563.667,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(508.333,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(453,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(397.667,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="54.667" height="109.5" transform="scale(1,1) translate(342.833,591.833)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="54.667" height="109.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="54.667" height="109.5" />
                </g>
                <g width="50.666666666666664" height="105.5" transform="scale(1,1) translate(2,2)">
                    <text width="50.666666666666664" height="16.66666603088379" transform="scale(1,1) translate(0,44.416666984558105)"
                    xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="15.277777777777779" font-weight="normal"
                        font-style="normal" fill="#000000" x="3.979" text-anchor="start" y="13.542" textLength="42.70833206176758"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Unit D</tspan>
                    </text>
                </g>
            </g>
            <g width="107.333" height="43.833" transform="scale(1,1) translate(454.667,395)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="107.333" height="43.833" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="107.333" height="43.833" />
                </g>
            </g>
            <g width="33.667" height="33.667" transform="scale(1,1) translate(462.5,399.833)">
                <g transform="scale(0.4410480349344978,0.4410480349344978) translate(0,0)" width="33.667" height="33.667">
                    <g>
                        <g width="75" height="75" transform="scale(1,1) translate(0.667,0.667)">
                            <g stroke="#000000" opacity="1" stroke-width="1.3333333333333333" stroke-dasharray="none" width="75"
                            height="75" transform="scale(1,1) translate(0,0)" fill="#FFFFFF" fill-opacity="1" stroke-opacity="1">
                                <rect width="75" height="75" />
                            </g>
                        </g>
                        <g width="71.833" height="71.833" transform="scale(1,1) translate(2,2)">
                            <g transform="scale(1,1) translate(0,0)" fill="#000000" stroke="#000000" stroke-opacity="1">
                                <path d="M0,0 L71.833,71.833" fill="none" stroke-width="1" stroke-dasharray="none" />
                                <g>
                                    <g stroke-dasharray="none">
                                        <path d="M-1,-1L1,-1L1,1L-1,1z" stroke-width="0" fill="none" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g width="71.833" height="71.833" transform="scale(1,1) translate(2,2)">
                            <g transform="scale(1,1) translate(0,0)" fill="#000000" stroke="#000000" stroke-opacity="1">
                                <path d="M0,71.833 L71.833,0" fill="none" stroke-width="1" stroke-dasharray="none" />
                                <g>
                                    <g stroke-dasharray="none">
                                        <path d="M-1,70.833L1,70.833L1,72.833L-1,72.833z" stroke-width="0" fill="none" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g width="21.833" height="33.167" transform="scale(1,1) translate(26.5,23.667)">
                            <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="21.833" height="33.167"
                            transform="scale(1,1) translate(0,0)" fill="#FFFFFF" fill-opacity="1" stroke-opacity="1">
                                <rect width="21.833" height="33.167" />
                            </g>
                        </g>
                        <g width="15.744" height="27.083" transform="scale(1,1) translate(29.295,26.5)">
                            <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="15.744" height="27.083"
                            transform="scale(1,1) translate(0,0)" fill="none" stroke-opacity="1">
                                <rect width="15.744" height="27.083" />
                            </g>
                            <g width="15.743779182434082" height="27.083332061767578" transform="scale(1,1) translate(0,0)">
                                <text width="15.743779182434082" height="27.083332061767578" transform="scale(1,1) translate(0,0)"
                                xml:space="preserve">
                                    <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="23.61111111111111"
                                    font-weight="normal" font-style="normal" fill="#000000" x="0" text-anchor="start" y="21.875"
                                    textLength="15.743779182434082" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">E</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g width="33.667" height="33.667" transform="scale(1,1) translate(506.833,399.833)">
                <g transform="scale(0.4410480349344978,0.4410480349344978) translate(0,0)" width="33.667" height="33.667">
                    <g>
                        <g width="75" height="75" transform="scale(1,1) translate(0.667,0.667)">
                            <g stroke="#000000" opacity="1" stroke-width="1.3333333333333333" stroke-dasharray="none" width="75"
                            height="75" transform="scale(1,1) translate(0,0)" fill="#FFFFFF" fill-opacity="1" stroke-opacity="1">
                                <rect width="75" height="75" />
                            </g>
                        </g>
                        <g width="71.833" height="71.833" transform="scale(1,1) translate(2,2)">
                            <g transform="scale(1,1) translate(0,0)" fill="#000000" stroke="#000000" stroke-opacity="1">
                                <path d="M0,0 L71.833,71.833" fill="none" stroke-width="1" stroke-dasharray="none" />
                                <g>
                                    <g stroke-dasharray="none">
                                        <path d="M-1,-1L1,-1L1,1L-1,1z" stroke-width="0" fill="none" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g width="71.833" height="71.833" transform="scale(1,1) translate(2,2)">
                            <g transform="scale(1,1) translate(0,0)" fill="#000000" stroke="#000000" stroke-opacity="1">
                                <path d="M0,71.833 L71.833,0" fill="none" stroke-width="1" stroke-dasharray="none" />
                                <g>
                                    <g stroke-dasharray="none">
                                        <path d="M-1,70.833L1,70.833L1,72.833L-1,72.833z" stroke-width="0" fill="none" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g width="21.833" height="33.167" transform="scale(1,1) translate(26.5,23.667)">
                            <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="21.833" height="33.167"
                            transform="scale(1,1) translate(0,0)" fill="#FFFFFF" fill-opacity="1" stroke-opacity="1">
                                <rect width="21.833" height="33.167" />
                            </g>
                        </g>
                        <g width="15.744" height="27.083" transform="scale(1,1) translate(29.295,26.5)">
                            <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="15.744" height="27.083"
                            transform="scale(1,1) translate(0,0)" fill="none" stroke-opacity="1">
                                <rect width="15.744" height="27.083" />
                            </g>
                            <g width="15.743779182434082" height="27.083332061767578" transform="scale(1,1) translate(0,0)">
                                <text width="15.743779182434082" height="27.083332061767578" transform="scale(1,1) translate(0,0)"
                                xml:space="preserve">
                                    <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="23.61111111111111"
                                    font-weight="normal" font-style="normal" fill="#000000" x="0" text-anchor="start" y="21.875"
                                    textLength="15.743779182434082" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">E</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g width="39.5" height="81.5" transform="scale(1,1) translate(522.667,469.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="39.5" height="81.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="39.5" height="81.5" />
                </g>
            </g>
            <g width="68.5" height="81.5" transform="scale(1,1) translate(454.667,469.167)">
                <g stroke="#000000" opacity="1" stroke-width="4" stroke-dasharray="none" width="68.5" height="81.5" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="68.5" height="81.5" />
                </g>
            </g>
            <g width="71.667" height="16.667" transform="rotate(270,543.833,510.167) scale(1,1) translate(508,501.833)">
                <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="71.667" height="16.667" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="71.667" height="16.667" />
                </g>
                <g width="71.66666666666666" height="16.666666666666664" transform="scale(1,1) translate(0,0)">
                    <text width="71.66666666666666" height="12.499999046325684" transform="scale(1,1) translate(0,0)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="11.11111111111111" font-weight="normal"
                        font-style="normal" fill="#000000" x="4.063" text-anchor="start" y="10.417" textLength="63.541664123535156"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">maintenance</tspan>
                    </text>
                </g>
            </g>
            <g width="31" height="0" transform="scale(1,1) translate(464.333,439.167)">
                <g transform="scale(1,1) translate(0,0)" fill="#FFFFFF" stroke="#FFFFFF" stroke-opacity="1">
                    <path d="M0,0 L31,0" fill="none" stroke-width="5" stroke-dasharray="none" />
                    <g>
                        <g stroke-dasharray="none">
                            <path d="M-5,-5L5,-5L5,5L-5,5z" stroke-width="0" fill="none" />
                        </g>
                    </g>
                </g>
            </g>
            <g width="31" height="0" transform="scale(1,1) translate(507.333,439.167)">
                <g transform="scale(1,1) translate(0,0)" fill="#FFFFFF" stroke="#FFFFFF" stroke-opacity="1">
                    <path d="M0,0 L31,0" fill="none" stroke-width="5" stroke-dasharray="none" />
                    <g>
                        <g stroke-dasharray="none">
                            <path d="M-5,-5L5,-5L5,5L-5,5z" stroke-width="0" fill="none" />
                        </g>
                    </g>
                </g>
            </g>
            <g width="58" height="0" transform="scale(1,1) translate(459.333,469.167)">
                <g transform="scale(1,1) translate(0,0)" fill="#FFFFFF" stroke="#FFFFFF" stroke-opacity="1">
                    <path d="M0,0 L58,0" fill="none" stroke-width="5" stroke-dasharray="none" />
                    <g>
                        <g stroke-dasharray="none">
                            <path d="M-5,-5L5,-5L5,5L-5,5z" stroke-width="0" fill="none" />
                        </g>
                    </g>
                </g>
            </g>
            <g width="11.167" height="30.333" transform="scale(1,1) translate(507.333,514.167)">
                <g transform="scale(0.7444447599812655,0.6066666666666667) translate(0,0)" width="11.167" height="30.333">
                    <g>
                        <g width="6.167" height="42" transform="scale(1,1) translate(0,4)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#FF0000" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <path d="M6.167,42 L3,42 L2,40.833 L1.5,39.667 L1.333,38.667 L1.167,37.667 L0.833,36.5 L0.667,35.5 L0.5,34.333 L0.5,33.333 L0.333,32.167 L0.333,31.167 L0.167,30 L0.167,29 L0,27.833 L0,26.833 L0,25.667 L0,24.5 L0,23.667 L0,22.5 L0,21.5 L0,20.333 L0,19.333 L0,18.167 L0,17.167 L0,16.167 L0,15 L0,14 L0.167,12.833 L0.167,11.667 L0.333,10.667 L0.333,9.5 L0.5,8.5 L0.5,7.333 L0.667,6.333 L0.833,5.333 L1.167,4.167 L1.333,3.167 L1.5,2 L2,1 L3,0 L6.167,0 L6.167,42 z"
                                stroke-width="0" stroke-dasharray="none" />
                            </g>
                        </g>
                        <g width="5.5" height="29" transform="scale(1,1) translate(1.667,14)">
                            <g width="5.5" height="29" transform="scale(1,1) translate(0,0)" stroke="#FF0000" stroke-width="0"
                            stroke-dasharray="none" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <ellipse rx="2.75" ry="14.5" cx="2.75" cy="14.5" />
                            </g>
                        </g>
                        <g width="10.667" height="13" transform="scale(1,1) translate(2.667,0)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#FF0000" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <path d="M10.667,13 L5.333,13 L3.667,12.5 L2.833,12.167 L2.5,11.833 L2.167,11.5 L1.667,11.167 L1.5,10.833 L1.167,10.5 L1,10.167 L0.833,9.833 L0.667,9.5 L0.333,9.167 L0.333,9 L0.167,8.5 L0.167,8.167 L0,7.833 L0,7.5 L0,7.167 L0,6.833 L0,6.5 L0,6.167 L0,5.833 L0,5.5 L0,5.167 L0,4.833 L0.167,4.5 L0.167,4.167 L0.333,3.833 L0.333,3.5 L0.667,3.167 L0.833,2.833 L1,2.5 L1.167,2.167 L1.5,1.833 L1.667,1.5 L2.167,1.167 L2.5,0.833 L2.833,0.5 L3.667,0.167 L5.333,0 L10.667,0 L10.667,13 z"
                                stroke-width="0" stroke-dasharray="none" />
                            </g>
                        </g>
                        <g width="10.667" height="13.167" transform="scale(1,1) translate(2.667,36.667)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#FF0000" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <path d="M10.667,13.167 L5.333,13.167 L5.333,13 L3.667,12.667 L2.833,12.5 L2.5,12 L2.167,11.667 L1.667,11.333 L1.5,11 L1.167,10.667 L1,10.333 L0.833,10 L0.667,9.667 L0.333,9.333 L0.333,9 L0.167,8.667 L0.167,8.333 L0,8 L0,7.667 L0,7.333 L0,7 L0,6.667 L0,6.333 L0,6 L0,5.667 L0,5.333 L0,5 L0.167,4.5 L0.167,4.333 L0.333,3.833 L0.333,3.667 L0.667,3.333 L0.833,3 L1,2.667 L1.167,2.333 L1.5,1.833 L1.667,1.667 L2.167,1.333 L2.5,0.833 L2.833,0.5 L3.667,0.333 L5.333,0 L10.667,0 L10.667,13.167 z"
                                stroke-width="0" stroke-dasharray="none" />
                            </g>
                        </g>
                        <g width="2.667" height="13" transform="scale(1,1) translate(12.333,0)">
                            <g width="2.667" height="13" transform="scale(1,1) translate(0,0)" stroke="#FF0000" stroke-width="0"
                            stroke-dasharray="none" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <ellipse rx="1.3335" ry="6.5" cx="1.3335" cy="6.5" />
                            </g>
                        </g>
                        <g width="2.667" height="13.333" transform="scale(1,1) translate(12.333,36.667)">
                            <g width="2.667" height="13.333" transform="scale(1,1) translate(0,0)" stroke="#FF0000" stroke-width="0"
                            stroke-dasharray="none" fill="#000000" fill-opacity="1" stroke-opacity="1">
                                <ellipse rx="1.3335" ry="6.6665" cx="1.3335" cy="6.6665" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g width="64.667" height="18.667" transform="rotate(270,481.667,508) scale(1,1) translate(449.333,498.667)">
                <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="64.667" height="18.667" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="64.667" height="18.667" />
                </g>
                <g width="64.66666666666666" height="18.666666666666664" transform="scale(1,1) translate(0,0)">
                    <text width="64.66666666666666" height="12.499999046325684" transform="scale(1,1) translate(0,0)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="11.11111111111111" font-weight="normal"
                        font-style="normal" fill="#000000" x="6.813" text-anchor="start" y="10.417" textLength="51.041664123535156"
                        style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Ice/ Snack</tspan>
                    </text>
                </g>
            </g>
            <g width="112" height="49.5" transform="scale(1,1) translate(297.833,115.167)">
                <g transform="scale(0.5445696304078046,0.5449561443456408) translate(0,0)" width="112" height="49.5">
                    <g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(0.5,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="22" height="89.833" transform="scale(1,1) translate(23.833,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M22,89.833 L22,0 L0,0 L0,89.833 L22,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(46,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23" height="89.833" transform="scale(1,1) translate(69.167,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23,89.833 L23,0 L0,0 L0,89.833 L23,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(91.167,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="22" height="89.833" transform="scale(1,1) translate(114.5,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M22,89.833 L22,0 L0,0 L0,89.833 L22,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(136.5,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(159.833,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(182,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="199.5" height="5" transform="scale(1,1) translate(2.667,4.833)">
                            <g stroke="#000000" opacity="1" stroke-width="1" stroke-dasharray="none" width="199.5" height="5"
                            transform="scale(1,1) translate(0,0)" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <rect width="199.5" height="5" />
                            </g>
                        </g>
                        <g width="199.5" height="5" transform="scale(1,1) translate(2.667,81.667)">
                            <g stroke="#000000" opacity="1" stroke-width="1" stroke-dasharray="none" width="199.5" height="5"
                            transform="scale(1,1) translate(0,0)" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <rect width="199.5" height="5" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g width="112" height="49.5" transform="rotate(90,758.167,644.583) scale(1,1) translate(702.167,619.833)">
                <g transform="scale(0.5445696304078046,0.5449561443456408) translate(0,0)" width="112" height="49.5">
                    <g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(0.5,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="22" height="89.833" transform="scale(1,1) translate(23.833,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M22,89.833 L22,0 L0,0 L0,89.833 L22,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(46,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23" height="89.833" transform="scale(1,1) translate(69.167,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23,89.833 L23,0 L0,0 L0,89.833 L23,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(91.167,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="22" height="89.833" transform="scale(1,1) translate(114.5,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M22,89.833 L22,0 L0,0 L0,89.833 L22,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(136.5,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(159.833,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="23.167" height="89.833" transform="scale(1,1) translate(182,0.5)">
                            <g transform="scale(1,1) translate(0,0)" stroke="#000000" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <path d="M23.167,89.833 L23.167,0 L0,0 L0,89.833 L23.167,89.833 z" stroke-width="1" stroke-dasharray="none"
                                />
                            </g>
                        </g>
                        <g width="199.5" height="5" transform="scale(1,1) translate(2.667,4.833)">
                            <g stroke="#000000" opacity="1" stroke-width="1" stroke-dasharray="none" width="199.5" height="5"
                            transform="scale(1,1) translate(0,0)" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <rect width="199.5" height="5" />
                            </g>
                        </g>
                        <g width="199.5" height="5" transform="scale(1,1) translate(2.667,81.667)">
                            <g stroke="#000000" opacity="1" stroke-width="1" stroke-dasharray="none" width="199.5" height="5"
                            transform="scale(1,1) translate(0,0)" fill="#F2F2F2" fill-opacity="1" stroke-opacity="1">
                                <rect width="199.5" height="5" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
            <g width="68.75" height="14.583" transform="scale(1,1) translate(722.917,45.333)">
                <g stroke="#000000" opacity="1" stroke-width="0" stroke-dasharray="none" width="68.75" height="14.583" transform="scale(1,1) translate(0,0)"
                fill="none" stroke-opacity="1">
                    <rect width="68.75" height="14.583" />
                </g>
                <g width="68.75" height="14.583333015441895" transform="scale(1,1) translate(0,0)">
                    <text width="68.75" height="14.583333015441895" transform="scale(1,1) translate(0,0)" xml:space="preserve">
                        <tspan xml:space="preserve" text-rendering="optimizeSpeed" font-size="12.5" font-weight="normal" font-style="normal"
                        fill="#000000" x="0" text-anchor="start" y="11.458" textLength="68.75" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">Not to Scale</tspan>
                    </text>
                </g>
            </g>
        </g>
    </svg>